@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Montserrat+Alternates:wght@400;500&family=Outfit:wght@400;600&display=swap%22");

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

#logo {
  width: 18%;
  margin-left: 7rem;
  margin-top: 2.5rem;
}

.title {
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  margin: 4rem 0 0 7rem;
}

.bold{
  line-height: 2.2rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

#subtitle {
  font-family: "Outfit", sans-serif;
  color: #d20094;
  font-weight: 600;
  font-size: 23px;
  margin: 2.3rem 0 0 7rem;
}

.paragraph {
  margin: 0.8rem 0 0 7rem;
  line-height: 1.1rem;
  font-size: 16px;
  max-width: 55%;
}

ul {
  margin: 2.3rem 0 0 8.3rem;
}

ul li {
  line-height: 1.5rem;
}

.b{
  font-weight: 600;
}

#container3{
  margin-top: 5rem;
  margin-left: 6.5rem;
}

.link {
  text-align: center;
  margin-left: 250px;  
  padding: 15px 40px 15px 40px;
  background-color: #00ffff;
  font-weight: 700;
  color: black;
}

.link:hover{
  box-shadow: 0 0 20px #00ffffbc;
}

#check{
  border-color: 1px solid white;
}

#check, label{
  font-size: 13px;
  font-weight: 500;
  margin: 0 10px 0 0;
}

.button {
}