body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

#logo {
  width: 12%;
  margin-left: 7em;
  margin-top: 3em;
  
}